html,
body {
    height: 100%;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
        url('../src/images/wp9396715-tropical-leaves-4k-wallpapers.jpg');
    background-attachment: fixed;
}

.home-container {
    background-color: #002a38;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 2%;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.home-container:after {
    content: '';
    display: table;
    clear: both;
}

.home-column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.home-title {
    color: bisque;
    padding: 15px;
}

.home-text {
    text-align: center;
    margin: 10px;
    color: aquamarine;
    font-size: 14px;
}

.course-content {
    text-align: center;
    height: auto;
    font-size: 28px;
}

.column {
    width: 49%;
    float: left;
    margin: 0.5%;
}

.course-content-container {
    width: 76%;
    margin-left: 24%;
}

.core-course-content-container {
    width: 96%;
    margin: 2%;
}

.course-content-title {
    color: bisque;
    padding: 15px;
    font-size: 25px;
}

.admin-shop-column {
    float: left;
    width: 45%;
    margin: 10px;
}

p {
    font-size: 20px;
    color: aquamarine;
}

.arrays-container {
    border-style: solid;
    border-color: rgb(6, 24, 24);
    border-radius: 10px;
    background-color: #0b4558;
    margin: 10px;
}

.arrays-container:hover {
    background-color: #1a596e;
}

.arrays-container::after {
    content: '';
    display: table;
    clear: both;
}

.item-info {
    font-size: 14px;
    text-align: left;
}

.item-icon {
    max-width: 80%;
    height: auto;
}

.item-info-column {
    width: 69%;
    float: left;
    margin: 0.5%;
}

.item-img-column {
    width: 29%;
    float: left;
    margin: 0.5%;
}

table {
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    width: 75%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #5793a7;
}

thead,
th {
    color: bisque;
    background: #324960;
    font-weight: 500;
    border: 2px #76aabb;
}

td {
    font-size: 16px;
    color: #0b4558;
    font-weight: 600;
}

.header-td {
    color: bisque;
}

tr:nth-child(even) {
    background: #76aabb;
}

.common-button {
    background-color: #c2fbd7;
    border-radius: 100px;
    color: green;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    margin: 10px;
    font-size: 16px;
    touch-action: manipulation;
}

.common-button:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
        rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
        rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    text-decoration: none;
    color: green;
}
