html,
body {
    height: 100%;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
        url('../src/images/wp9396715-tropical-leaves-4k-wallpapers.jpg');
    background-attachment: fixed;
}

.home-container {
    background-color: #002a38;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 2%;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.home-container:after {
    content: '';
    display: table;
    clear: both;
}

.home-column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.home-title {
    color: bisque;
    padding: 15px;
}

.home-text {
    text-align: center;
    margin: 10px;
    color: aquamarine;
    font-size: 14px;
}

.course-content {
    text-align: center;
    height: auto;
    font-size: 28px;
}

.column {
    width: 49%;
    float: left;
    margin: 0.5%;
}

.course-content-container {
    width: 76%;
    margin-left: 24%;
}

.core-course-content-container {
    width: 96%;
    margin: 2%;
}

.course-content-title {
    color: bisque;
    padding: 15px;
    font-size: 25px;
}

.admin-shop-column {
    float: left;
    width: 45%;
    margin: 10px;
}

p {
    font-size: 20px;
    color: aquamarine;
}

.arrays-container {
    border-style: solid;
    border-color: rgb(6, 24, 24);
    border-radius: 10px;
    background-color: #0b4558;
    margin: 10px;
}

.arrays-container:hover {
    background-color: #1a596e;
}

.arrays-container::after {
    content: '';
    display: table;
    clear: both;
}

.item-info {
    font-size: 14px;
    text-align: left;
}

.item-icon {
    max-width: 80%;
    height: auto;
}

.item-info-column {
    width: 69%;
    float: left;
    margin: 0.5%;
}

.item-img-column {
    width: 29%;
    float: left;
    margin: 0.5%;
}
