.course_side_bar {
    margin: 10px;
    border-radius: 10px;
    background-color: seagreen;
    padding: 10px;
}

.course_side_bar a {
    margin: 10px;
    text-decoration: none;
    font-size: larger;
    color: coral;
}

.course_side_bar a:hover {
    color: khaki;
}
