.sidebar {
    float: left;
    width: 23%;
    padding: 10px;
    margin: 10px;
    background-color: #0b4558;
    overflow-x: hidden;
    border-radius: 10px;
}

#sidebar-header {
    color: aquamarine;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -2px -2px 0 #002a38, 2px -2px 0 #002a38, -2px 2px 0 #002a38,
        2px 2px 0 #002a38;
}

.sidebar-link {
    float: center;
    margin-right: 15%;
    margin-left: -15%;
    font-size: 16px;
    color: white;
}

.sidebar-link:hover {
    text-decoration: none;
    box-shadow: hsla(0, 0%, 100%, 0.4) 0 -5px 18px -14px inset,
        hsla(0, 0%, 100%, 0.4) 0 1px 2px, hsla(0, 0%, 100%, 0.4) 0 2px 4px,
        hsla(0, 0%, 100%, 0.4) 0 4px 8px, hsla(0, 0%, 100%, 0.4) 0 8px 16px,
        hsla(0, 0%, 100%, 0.4) 0 16px 32px;
    color: #002a38;
    font-weight: bold;
    background-color: hsla(0, 0%, 100%, 0.7);
    padding: 3px;
    border-radius: 50px;
}

.sidebar-li {
    text-align: center;
    list-style-type: none;
}

ul {
    height: 100%;
    overflow: hidden;
}
