.character-name {
    color: burlywood;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.character-image {
    border-radius: 30%;
    width: 70%;
    height: 70%;
    margin: 0;
    padding: 10px;
}

.hp-info {
    color: red;
}

.exp-info {
    color: goldenrod;
}

#hp-bar {
    color: red;
    font-size: 16px;
    margin-bottom: -15px;
}

#exp-bar {
    color: goldenrod;
    font-size: 16px;
}

.character-attribute {
    font-size: 16px;
    width: 100%;
    margin: 0px;
}

progress {
    width: 50%;
    height: 20px;
    background: rgba(0, 0, 0, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    float: right;
    margin-right: 10%;
    margin-left: -13%;
    margin-top: 4%;
}

progress::-webkit-progress-bar {
    background-color: rgb(231, 223, 203);
}

.exp-bar::-webkit-progress-value {
    background-color: goldenrod;
}

.hp-bar::-webkit-progress-value {
    background-color: red;
}

.profile-image {
    float: left;
    width: 40%;
    text-align: center;
}

.profile-info {
    float: left;
    width: 34%;
}
