.div-course {
    border-style: solid;
    border-color: rgb(6, 24, 24);
    margin: 10px;
    border-radius: 10px;
    background-color: #0b4558;
}

.div-course:hover {
    background-color: #1a596e;
}

.course-title {
    color: burlywood;
    text-decoration: none;
    padding-left: 10px;
    margin-top: -15px;
    transition: all 500ms;
}

.course-title:hover {
    text-decoration: none;
    transform: rotate(0.5deg);
}

input[type='checkbox'] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    transform: scale(1.4);
}
.course-checkbox {
    color: aquamarine;
    padding: 10px;
}
